.contenedor{
    display: grid;
    border: 5px solid palevioletred;
    background-color: antiquewhite;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-areas: 
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer"
    ;
}

.item-a{
    grid-area: header;
    background-color: blue;
}

.item-b{
    grid-area: main;
    background-color: red;
}

.item-c{
    grid-area: sidebar;
    background-color: green;
}

.item-d{
    grid-area: footer;
    background-color: blueviolet;
}