*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-image img{
    width: 100%;
    object-fit: contain;
}

.dishes{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(210px, 1fr));
    grid-template-rows: repeat(2,minmax(150px,1fr));
    row-gap: 50px;
}

.dishes-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dishes-image-video{
    grid-area: 1/1/3/3;
}

.plates{
    display: grid;
    row-gap: 12px;
    column-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.plates-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.plates-image{
    background-color: brown;
    transition-duration: 1000ms;
}

.plates-image:hover{
    background-color: rgb(201, 94, 94);
    transition-duration: 1000ms;
}