*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(18, 92, 250);
    width: 100vw;
    height: 100vh;
}

.padre{
    width: 100%;
    height: 80%;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}

.hijo{
    width: 30%;
    height: 30%;
    background-color: darkblue;
    border: 2px solid green;
}

@media only screen 
  and (max-device-width: 812px) { 
    .padre{
        flex-direction: column;

    }

    .hijo{
        background-color: aqua;
        width: 50%;
    }
}