*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tarjeta{
    height: 100px;
    background-color: hsl(278, 76%, 61%);
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.padre{
    background-color: rgb(255, 255, 0);
    display: flex;
    height: 300px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

}


/*#uno{
    align-self: ;

}/*

/*#dos{
    align-self: flex-start;

}/*

